---
import PostCard from './PostCard.astro';
import type { Post } from '../lib/posts';

interface Props {
  posts: Post[];
}

const { posts } = Astro.props;
---

{
  posts.length > 0 && (
    <section>
      <div class="section-head">
        <h2>Related posts</h2>
      </div>
      <ul class="post-list">
        {posts.map((post) => (
          <PostCard post={post} />
        ))}
      </ul>
    </section>
  )
}
